<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hello <%= title %>!</title>
  <%- include('./partials/css-global'); %>
</head>
<body>
  <header class="full-vh center-items">
    <figure>
      <img src="http://picsum.photos/id/<%= id %>/600" alt="<%= title %>">
      <figcaption>Hello <%= title %>!</figcaption>
    </figure>
  </header>
</body>
</html>